{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Product</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" enctype=multipart/form-data class="" action="/admin_add_product"
                                  method="post">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input class="form-control" required="required" name="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="required" name="price" placeholder="Enter price">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" required="required" name="description" rows="3"
                                              placeholder="Write product description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Available</label>
                                    <input class="form-control" required="required" name="available" placeholder="Available">
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="category_id" onchange="populateList();"
                                            name="category">
                                        <option value="audi">Audi</option>
                                        <option value="bmw">BMW</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="ferrari">Ferrari</option>
                                    </select>
                                </div>
                                <div class="form-group level-container">
                                    <label>Year for Audi</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="audi" value="v_shape">2023
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="audi" value="polo">2022
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="audi" value="clean_text">2021
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="audi" value="design">2020
                                        </label>
                                    </div>
                                    <label>Year for BMW</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="bmw" value="chain">2023
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="bmw" value="leather">2022
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="bmw" value="design">2021
                                        </label>
                                    </div>
                                    <label>Year for Mercedes</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="mercedes" value="leather">2023
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="mercedes" value="hook">2022
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="mercedes" value="color">2021
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="mercedes" value="design">2020
                                        </label>
                                    </div>
                                    <label>Year For Ferrari</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ferrari" value="formal">2023
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ferrari" value="converse">2022
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ferrari" value="loafer">2021
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ferrari" value="leather">2020
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Car Type</label>
                                    <input class="form-control" required="required" name="item" placeholder="Car Type">
                                </div>
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input class="form-control" required="required" name="code" placeholder="Enter code">
                                </div>
                                <div class="form-group">
                                    <label>Add Image</label>
                                    <input type="file" required="required" name="picture">
                                </div>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}